:root{
--dark-grayish-blue: hsl(217, 19%, 35%);
--dark-blue: hsl(214, 17%, 51%);
--grayish-blue: hsl(212, 23%, 69%);
--light-grayish-blue: hsl(210, 46%, 95%);

--ff: 'Manrope';
}

body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--grayish-blue);
    font-family: var(--ff),sans-serif;
}

.img-container .img{
    height: auto;
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.article-container{
    border-radius: 10px;
    border: none;
    width: 350px;
    background: #fefefe;
    margin: 0 2rem;
    padding-bottom: 1rem;
}

.content-container{
    padding: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

h2{
    color: var(--dark-grayish-blue);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

p{
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 0.78rem;
    letter-spacing: 0.9px;
    line-height: 1.5;
}

.footer{
    display: flex;
    align-items: center;
    padding-left: 1.7rem;
    position: relative;
}

.footer h2{
    font-size: 0.85rem;
    padding-top: 0.5rem;
    letter-spacing: 0.85px;
}

.footer-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.footer-content{
    padding-left: 1.3rem;
    align-items: center;
}

.footer-content h2{
    margin-bottom: -0.75rem;
}



.icon-container{
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    right: 2.5rem;
    width:40px;
    height:40px;
    border-radius:50%;
    background:var(--grayish-blue);
}

.icon-container:hover{
    cursor:pointer;
    background: hsl(212, 73%, 79%);
}

.share-container{
    visibility: hidden;
    display: flex;
    align-items: center;
    background: hsl(217, 19%, 35%);
    position: absolute;
    left: 0;
    top:1rem;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 100;
}

.share-container p{
    text-transform: uppercase;
    padding-left: 1.5rem;
    font-size: 0.8rem;
    letter-spacing: 5px;
    line-height: 0.9;
    padding-right: 0.5rem;
}

.share-container img{
    padding-left: 1rem;
    width: 1.4rem;
    height:1.4rem;
}

.share-container .icon{
    transform: scale(0.8) ;
    padding-left: 0;
}

.share-container .icon-container{
    margin-left: 2rem;
    width:30px;
    height: 30px;
}

.share-container .icon:hover{
    cursor: pointer;
}

@media (min-width: 950px){
    article{
        display: flex;
        justify-content: center;
    }
    .article-container{
        display: flex;
        width: 67%;
        padding-bottom: 0;
        height: auto;
    }

    .content-container{
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        height: 250px;
    }

    .img-container{
        width: 900px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
    }

    .img-container .img{
        border-top-right-radius: 0px;
    }

    h2{
        font-size: 1.45rem;
        padding-bottom: 0rem;
    }

    p{
        font-size: 1rem;
        line-height: 1.6;
    }

    .img{
        min-width: 100%;
        min-height:100%;
    }

    .footer{
        padding-bottom: 0;
        height: 150px;
    }

    .footer h2{
        font-size: 0.95rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    .icon{
        transform: scale(1.3);
    }

    .icon-container{
        right: 4rem;
        width:50px;
        height:50px;
    }

    .share-container{
        top: 2.35rem;
        border-bottom-left-radius: 0;
        height: 75%;
    }

    .share-container img{
        padding-left: 2rem;
        width: 1.9rem;
        height:1.9rem;
    }

    .share-container .icon{
        transform: scale(0.7);
        padding-left: 0;
    }

    .share-container .icon-container{
        margin-left: 2rem;
        width:50px;
        height: 50px;
    }
    .share-container p{
        padding-left: 2rem;
        font-size: 1.1rem;
        letter-spacing: 8px;
        line-height: 1.1;
        padding-right: 0.5rem;
    }
}