:root{
 --text-blue: hsl(238, 29%, 16%);
 --text-red: hsl(14, 88%, 65%);

 --bg-gradient--violet: hsl(273, 75%, 66%);
 --bg-gradient--blue: hsl(240, 73%, 65%);

 --text-grayish-blue: hsl(237, 12%, 33%);
 --text-darkgrayish-blue: hsl(240, 6%, 50%);

 --divider: hsl(240, 5%, 91%);
 --ff-primary: 'Kumbh Sans';
}

*,*:before,*:after{
    font-size: 12px;
}

body{
    font-family: var(--ff-primary),cursive;
    margin: 0 25px;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(var(--bg-gradient--blue),var(--bg-gradient--violet));
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fefefe;
    width: 100%;
    border-radius: 20px;
    border: none;
    height: auto;
    padding-top: 150px;
}

.img-container  {
    position: relative;
}

.img-container .img2 {
    width:200px;
    height:150px;
    position: absolute;
    top: -19.5em;
    left: -8em;
    filter: drop-shadow(0px 30px 0px var(--divider));
}

.img{
    display:none;
}

.img3{
    display:none;
}

.header-container{
    margin-top: -15%;
}

.content-container{
    padding: 1rem 3rem;
    margin-bottom: 3rem;
    overflow-y: scroll;
    height:300px;
    max-width: 300px;
}

.question-container{
    border-bottom: 2px solid var(--divider);
    margin-top: 0.45rem;
    padding: 0.9em;
}

.question-container .question img{
    float: right;
}

.question{
    color: var(--text-grayish-blue);
    font-size: 1.30rem;
    width: 100%;
    font-weight: 400;
}

.question:hover{
    cursor: pointer;
}

.answer{
    color: var(--text-darkgrayish-blue);
    letter-spacing: 1.px;
    font-size: 1.05rem;
    padding-right: 3rem;
    display: none;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container h1{
    font-size: 3rem;
}

.img-icon:hover{
    cursor: pointer;
}

@media (min-width: 768px){
    .container{
        width: 750px;
        flex-direction:row;
        justify-content: flex-end;
        overflow:visible;
    }

    .header-container {
        padding-right: 20rem;
    }

    .content-container{
        padding-right: 5.8rem;
    }

    .img-container  {
        position: relative;
    }
    .img2{
        display: none;
    }
    
    .img-container .img {
        display: block;
        width:400px;
        height:300px;
        position: absolute;
        top: -12.5em;
        left: -37em;
        filter: drop-shadow(0px 10px 0px var(--divider));
    }
        
    .img3
    {
        display: block;
        position: absolute;
        left:-39em;
        top:-5em;
    }
    

}